{% extends 'base_core.html' %}
{% load static %}
{% block bodycontent %} 
    <div class="about">
        <main class="tm-main">           
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <img src="{% static 'img/about-01.jpg' %}" alt="Image" class="img-fluid-about">
                </div>
            </div>
            <div class="row tm-row tm-mb-40">
                <div class="col-12">                    
                    <div class="mb-4">
                        <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">About Cackling</h2>
                        <p>
                            Welcome to Cackling, the vibrant community where voices come alive and ideas take flight.
                            At Cackling, we believe in the power of meaningful conversations. Our platform is designed to foster connections, inspire creativity, and ignite discussions on a wide range of topics. Whether you're here to share your thoughts, learn from others, or simply explore new horizons, you've found your digital home.
                        </p>
                        <p>
                            Our mission is simple: to provide a space where every voice matters. We aim to create an inclusive environment where diverse perspectives thrive. It's a place where you can engage in thoughtful discussions, express your passions, and discover fresh insights from people all around the world.
                        </p>                            
                    </div>                    
                </div>
            </div>
            <div class="row tm-row tm-mb-120">
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-bezier-curve fa-4x tm-color-primary"></i>                            
                        </div>                        
                        <h2 class="mb-3 tm-color-primary tm-post-title">Background</h2>
                        <p class="mb-0 tm-line-height-short">
                            Cackling was born from a simple idea - the idea that conversations can be a catalyst for change. Our journey began when a group of passionate individuals came together with a shared vision: to create a digital space where ideas could flow freely, where opinions could be respectfully debated, and where connections could be formed across borders.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-users-cog fa-4x tm-color-primary"></i>                            
                        </div>                        
                        <h2 class="mb-3 tm-color-primary tm-post-title">Teamwork</h2>
                        <p class="mb-0 tm-line-height-short">
                            At Cackling, we believe that meaningful conversations are a form of teamwork. When individuals from diverse backgrounds and perspectives come together to engage in open and constructive dialogue, it's akin to teamwork in action. Here's how we embrace the spirit of teamwork:At Cackling, we believe that meaningful conversations are a form of teamwork.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fab fa-creative-commons-sampling fa-4x tm-color-primary"></i>                            
                        </div>                        
                        <h2 class="mb-3 tm-color-primary tm-post-title">Our Core Value</h2>
                        <p class="mb-0 tm-line-height-short">
                            At Cackling, our mission is driven by a set of core values that define who we are and guide everything we do. These values are the heart and soul of our community: Respect, Quality, Inclusivity, Integrity, Growth, Empowerment, Fun. These core values are not just words; they are the principles that guide every interaction and decision at Cackling. 
                        </p>
                    </div>
                </div>
            </div>            
            <div class="row tm-row tm-mb-60">
                <div class="col-12">
                    <hr class="tm-hr-primary  tm-mb-55">
                </div>                
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="{% static 'img/about-02.jpg' %}" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Anush Melikyan</h2>
                            <h3 class="tm-h3 mb-3">Developer</h3>
                            <p class="mb-0 tm-line-height-short">
                                Meet Anush, the visionary behind Cackling, who believes in the power of dialogue to shape a better world.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="img/about-03.jpg" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Liza Hovhannisyan</h2>
                            <h3 class="tm-h3 mb-3">Developer</h3>
                            <p class="mb-0 tm-line-height-short">
                                Liza is the tech wizard who keeps Cackling user-friendly and at the forefront of innovation.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="img/about-04.jpg" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Satenik Aleksanyan</h2>
                            <h3 class="tm-h3 mb-3">Developer</h3>
                            <p class="mb-0 tm-line-height-short">
                                Satenik fosters an inclusive atmosphere where every voice is valued, making Cackling a diverse and welcoming place.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="img/about-05.jpg" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Varsenik Harutyunyan</h2>
                            <h3 class="tm-h3 mb-3">Developer</h3>
                            <p class="mb-0 tm-line-height-short">
                                Varsenik ensures that every conversation on Cackling meets high-quality standards for insightful discussions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 tm-mb-60 tm-person-row">
                    <div class="media tm-person">
                        <img src="img/about-05.jpg" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Ani Asryan</h2>
                            <h3 class="tm-h3 mb-3">Developer</h3>
                            <p class="mb-0 tm-line-height-short">
                                Ani encourages users to embrace learning and growth through every conversation on Cackling.
                            </p>
                        </div>
                    </div>
                </div>
            </div> 
{% endblock %}
{% block footer %}
{% endblock %}