{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cackling - Share Your Klings</title>
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}"> 
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-xtra-blog.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/templatemo-script.js' %}"></script>
</head>
<body>
    <div class="messages">
        {% for message in messages %}
        <div class = "alert-{{message.tags}}"> {{message}}</div>
        {% endfor %}
    </div>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <div class="user-info">
            </div>
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo">
                    <a href="{% url 'home' %}" class="logo-link">
                        <img class = "logo" src= "{% static 'img/logo.png' %}" alt="Cackling Logo"></img> 
                    </a>
                </div>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item active"><a href="{% url 'home' %}" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Home
                    </a></li>
                    {% if request.user.is_authenticated %}
                    <li class="tm-nav-item"><a href="{% url 'profile' %}" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        My Profile
                    <li class="tm-nav-item"><a href="{% url 'create_kling' %}" class="tm-nav-link">
                        <i class="fas fa-bell"></i>
                        Make a Kling
                    {% endif %}
                    <li class="tm-nav-item"><a href="{% url 'about' %}" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        About Cackling
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'contact' %}" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact Us
                    </a></li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>
            <p class="tm-mb-80 pr-5 text-white">
                Make a Kling, have fun!
            </p>
        </div>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <div class = "login-logout">
                {% if request.user.is_authenticated %}
                <p>User logged in by {{ request.user }} user</p></li>
                <a class="login-logout" href="{% url 'logout' %}" id="logoutBtn">Logout</a></li>
                {% else %}
                <a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </div>
            <p>
                {%for message in messages%}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </p>
    {% block bodycontent %} {% endblock %}
        </main>
    </div>
    {% block footer%}        
    <footer class="footer">
        <div class="container-footer mx-auto">
            <div class="p-5 bg-gray-200 rounded-lg py-12 m-5">
                <div class="flex flex-col ">
                    <h3 class="text-3xl leading-10 text-blue-800 w-full text-center font-bold">Sign up to our newsletter to receive updates</h3>
                </div>
                <div class="flex flex-row justify-center space-x-3 py-4">
                    <form method="POST" action="{% url 'subscribe' %}">
                    {% csrf_token %}
                    {{form}}
                    <input name="email" class = "bg-white rounded-lg text-sm px-2 sm:px-3 md:px-8 py-3" type="text" placeholder="email@email.com">
                    <button type="submit" class="font-bold rounded-lg text-white bg-blue-700 hover:bg-blue-600 cursor-pointer px-3 py-1 md:px-6 md:py-3 focus:outline-none">Subscribe</button>
                    </form>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright {% now "Y" %}
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
    