{% load static %}
<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cackling - Create your Kling</title>
        <link rel="stylesheet" href="{% static 'styles_kling_creation.css' %}">  
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <p>User logged by {{ request.user.email}} email</p>
        <button type="button"><a href="{% url "logout" %}">Log Out</a></button>
        {% else %}
        <a href="{% url "login" %}">Log In</a>
        {% endif %}
        <p>Cackling - Create your Kling</p>
        <form method = "POST">
            {% csrf_token %}
            {{form}}<br><br><br>
        <button>Submit</button>
        
        </form>
        {% comment %} <button type="button"><a href="{% url "logout" %}">Submit</a></button> {% endcomment %}
    </body>
</html>
