{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cackling - Create your Kling</title>
    <link rel="stylesheet" href="{% static 'css/styles_kling_creation.css' %}">
</head>
<body>
    <div class="user-info">
        {% if request.user.is_authenticated %}
        <p>User logged in by {{ request.user.email }} email</p>
        <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'login' %}">Log In</a>
        {% endif %}
    </div>
    <div class="kling-container">
        <h1 class="kling-title">Cackling - Create your Kling</h1>
        <form class="kling-form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" >Submit</button>
        </form>
    </div>
</body>
</html>