<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	
	
</head>
<body>
{% if request.user.is_authenticated %}
<p>User logged by {{ request.user.email}} email</p>
<button type="button"><a href="{% url "logout" %}">Log Out</a></button>

{% else %}
<a href="{% url "login" %}">Log In</a>
{% endif %}
<p>Create Csckling</p>

<form method = "POST">
    {% csrf_token %}
    {{form}}<br><br><br>
    <button>Submit</button>
    
</form>


{% comment %} <button type="button"><a href="{% url "logout" %}">Submit</a></button> {% endcomment %}
</body>
</html>
