<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	
	
</head>
<body>
{% if request.user.is_authenticated %}
<p>User logged by {{ request.user.email}} email</p>
<button type="button"><a href="{% url "logout" %}">Log Out</a></button>

{% else %}
<a href="{% url "login" %}">Log In</a>
{% endif %}
<p>Home Page</p>
{% for cackling in cacklings %}
{{cackling.submit_date}}
<p>{{cackling.category}}</p>
<p>{{cackling.title}}</p>
    <p>{{cackling.text}}</p>
    <p>{{cackling.user}}</p>

{% endfor %}

{% if request.user.is_authenticated %}
<button type="button"><a href="{% url "create_cackling" %}">Create New Cackling</a></button>


{% endif %}


</body>
</html>
