{% extends 'base_core.html' %}
{% load static %}
{% block bodycontent %}
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <div class="row tm-row">
                        <div class="col-12 col-md-6">
                            <form action="" method="get" class="form-inline tm-mb-80 tm-search-form">
                                {% csrf_token %}
                                <label for="id_title">Search by Kling Title:</label><br>
                                <input type="text" name="title" id="id_title" class="form-control rounded tm-search-input" placeholder="Search...">
                                <label for="id_kling_category">Search by Kling category:</label>
                                <select name="kling_category" id="id_kling_category" class="form-control rounded tm-search-input">
                                <option value="------" selected="">--------</option>
                                <option value="Life and Love">Life and Love</option>
                                <option value="Travel and Adventure">Travel and Adventure</option>
                                <option value="Art and Music">Art and Music</option>
                                <option value="Nature">Nature</option>
                                <option value="Food and Wellness">Food and Wellness</option>
                                <option value="Careers">Careers</option>
                                <option value="Science and Technology">Science and Technology</option>
                                <option value="Other">Other</option>
                                </select>
                                <button class="tm-search-button" type="submit">
                                    <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
            </div>            
            <div class="row tm-row">
                {% for kling in klings %}
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                        <div class=" tm-post-link-inner">
                            {% if kling.image %}
                                <img src="{{ kling.image.url }}">
                            {% endif %}
                        </div>
                        <span class="position-absolute tm-new-badge">New</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{kling.title}}</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        <a rel="nofollow" href="https://templatemo.com/tm-553-xtra-blog" target="_blank"></a>{{kling.text}}
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">{{kling.category}}</span>
                        <span class="tm-color-primary">{{kling.created_on|timesince}} ago</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>48 comments</span>
                        <span>{{kling.user}}</span>
                    </div>
                </article>
                {% endfor%}
            </div>
{% include 'pagination.html' %}
{% include 'footer.html' %}{% endblock %}
