<!DOCTYPE html>
<html>
<head>
    <title>Kling List</title>
</head>
<body>
    <h1>List of Klings</h1>
    <ul>
        {% for kling in klings %}
            <li>
                <strong>Category:</strong> {{ kling.category }}<br>
                <strong>Title:</strong> {{ kling.title }}<br>
                <strong>Text:</strong> {{ kling.text }}<br>
                {% if kling.image %}
                    <img src="{{ kling.image.url }}" alt="{{ kling.title }}" width="200">
                {% endif %}
            </li>
            <br>
        {% endfor %}
    </ul>
</body>
</html>
