{% load static %}
{% block body_content %}
{% load pagination_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Klings</title>
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}"> 
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-xtra-blog.css' %}" rel="stylesheet">
</head>
<body>
    <div class="messages">
        {% for message in messages %}
        <div class = "alert-{{message.tags}}"> {{message}}</div>
        {% endfor %}
    </div>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <div class="user-info">
            </div>
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><a class = "logo" src= "{% static 'img/logo.png' %}"> </a></div>            
                <h1 class="text-center">Cackling</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item active"><a href="index.html" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Blog Home
                    </a></li>
                    {% if request.user.is_authenticated %}
                    <li class="tm-nav-item">><a href="{% url "create_kling" %}" class="tm-nav-link">
                        <i class="fas fa-bell"></i>
                        Make a Kling
                        {% endif %}
                    <li class="tm-nav-item"><a href="post.html" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Single Post
                    </a></li>
                    <li class="tm-nav-item"><a href="my_kling.html" class="tm-nav-link">
                        <i cltass="fas fa-pen"></i>
                        My Klings
                    </a></li>         
                </ul>
            </nav>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <p>
                {%for message in messages%}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% if request.user.is_authenticated %}
                <p>User logged in by {{ request.user.email }} email</p></li>
                <a class="login-logout" href="{% url 'logout' %}" id="logoutBtn">Logout</a></li>
                {% else %}
                <a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </p>
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>            
            <div class="row tm-row">
                {% for kling in klings %}
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                        <div class=" tm-post-link-inner">
                            <img src="{% static 'img/img-02.jpg' %}" alt="Image" class="img-fluid">                            
                        </div>
                        <span class="position-absolute tm-new-badge">New</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{kling.title}}</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        <a rel="nofollow" href="https://templatemo.com/tm-553-xtra-blog" target="_blank"></a>{{kling.text}}
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">{{kling.category}}</span>
                        <span class="tm-color-primary">{{kling.created_on|timesince}} ago</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>48 comments</span>
                        <span>{{kling.user}}</span>
                    </div>
                </article>
                {% endfor%}
            </div>
            <div class="row tm-row tm-mt-100 tm-mb-75">
                <div class="tm-prev-next-wrapper">
                    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
                    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
                </div>
                <div class="tm-paging-wrapper">
                    <span class="d-inline-block mr-3">Page</span>
                    <nav class="tm-paging-nav d-inline-block">
                        <ul>
                            <li class="tm-paging-item active">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                            </li>
                        </ul>
                    </nav>
                </div>                
            </div>
            <style>
                .table_dark {
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 14px;
                width: 640px;
                text-align: left;
                border-collapse: collapse;
                background: #252F48;
                margin: 10px;
              }
              .table_dark th {
                color: #EDB749;
                border-bottom: 1px solid #37B5A5;
                padding: 12px 17px;
              }
              .table_dark td {
                color: #CAD4D6;
                border-bottom: 1px solid #37B5A5;
                border-right:1px solid #37B5A5;
                padding: 7px 17px;
              }
              .table_dark tr:last-child td {
                border-bottom: none;
              }
              .table_dark td:last-child {
                border-right: none;
              }
              .table_dark tr:hover td {
                text-decoration: underline;
              }
            </style>
            <table class="table_dark">
            
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Title</th>
                        <th scope="col">Type</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for kling in klings%}
                    <tr>
                        <th scope="row">{{kling.id}}</th>
                        <td>{{kling.user.username}}</td>
                        <td>{{kling.start_date}}</td>
                        <td>{{kling.end_date}}</td>
                        <td>{{kling.title}}</td>
                        <td>{{kling.get_todo_type_display}}</td>
                        <td>{{kling.description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>  
            {% if is_paginated %}
                <nav aria-label="Page navigation example" class="d-flex justify-content-center pt-3">
                    <ul class="pagination">
                        {% if page_obj.has_previous and page_obj.number != 2 %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' 1 %}" tabindex="-1"
                                aria-disabled="true">First Page</a></li>
                        {% endif %}
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link text-dark"
                                href="?{% url_replace request 'page' page_obj.previous_page_number %}">
                                {{ page_obj.previous_page_number}}
                            </a></li>
                        {% endif %}
                        <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link text-dark"
                                href="?{% url_replace request 'page' page_obj.next_page_number %}">
                                {{ page_obj.next_page_number }}
                            </a>
                        </li>
                        {% endif %}
                        {% if page_obj.paginator.num_pages != page_obj.number %}
                        <li class="page-item"><a class="page-link text-dark"
                                href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">Last Page</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %} 

        </main>
    </div>
</body>
</html>
{% endblock body_content %}