{% extends 'base_core.html' %}
{% load static %}
{% block bodycontent %} 
<div class="kling-container">
<p>KLING delete PAGE</p>
<div class="center">
    <form method="post" class="card">
        {% csrf_token %}
        <h2>Delete KLING</h2>
        <p>Are you sure that you want to delete "{{ kling.id }}"?</p>
        <p class="form-buttons">
            <input type="submit" class="btn btn-primary" value="Delete" />
            <a href="{% url 'profile' %}" class="btn btn-outline">Cancel</a>
        </p>
    </form>
</div>
{% endblock %}
