{% extends 'base_core.html' %}
{% load static %}
{% block bodycontent %} 
<link rel="stylesheet" href="{% static 'css/change_pass.css' %}">

<div class="mainDiv">
    <div class="cardStyle">
      <form action="" method="post" name="signupForm" id="signupForm">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
        
        <img src="" id="signupLogo"/>
        
        <h2 class="formTitle">
            Change password
        </h2>
        
       <!-- Old Password Field -->
        <div class="form-group">
            <label for="{{ form.old_password.id_for_label }}">Old Password</label>
            {{ form.old_password }}
            {{ form.old_password.errors }}
        </div>
        
      <!-- New Password Fields -->
        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </div>
      
      
    <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </div>

    <button type="submit" class="btn btn-dark mt-2">Save changes</button>
    <a type="button" class="btn btn-outline-secondary mt-2" href="{% url 'profile' %}">
        Cancel </a>

        
    </form>
    </div>
  </div>
{% endblock %}  