{% extends 'base_core.html' %}
{% block bodycontent %}
    <h2>Edit Your Profile</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <form method="post" enctype="multipart/form-data">
                <label for="id_profile_picture">Profile picture:</label>
                <input type="file" name="profile_picture" accept="image/*" id="id_profile_picture">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="/profile/" class="btn btn-secondary">Cancel</a>
            </form>


{% endblock %}