{% extends 'base_core.html' %}
{% load static %}
{% block bodycontent %} 
<div>
    <h2 class="tm-color-primary tm-post-title">Comments</h2>
    <hr class="tm-hr-primary tm-mb-45">
    {% for comment in comments %}
    <div class="tm-comment tm-mb-45">
        <figure class="tm-comment-figure">
            <img src="img/comment-1.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">
            <figcaption class="tm-color-primary text-center">{{comment.owner.username}}</figcaption>
        </figure>
        {{comment.created_on}}
        <div>
            <p>
                {{comment.text}}
            </p>
            <div class="d-flex justify-content-between">
                {% endfor %}
                <form action="{% url 'create_comment' %}" method="POST">
            {% csrf_token %}
            {{comment_form}}
                                            
    </form>                          
</div>
</div>
</div>
{% include 'footer.html' %}{% endblock %}